infra/n8n/Alert_Mañana_-_Resumen_Diario_6am.json
{
  "updatedAt": "2026-03-17T19:12:35.710Z",
  "createdAt": "2026-03-17T19:12:35.710Z",
  "id": "abe3e78b-018b-4c10-958f-9524686e2bac",
  "name": "Alert Mañana — Resumen Diario 6am",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * *"
            }
          ]
        }
      },
      "id": "cron-manana",
      "name": "Cron 6am Hermosillo",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8000/dashboard",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-dashboard",
      "name": "GET Dashboard API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=☀️ *Resumen Mañana — {{ $now.format('DD/MM/YYYY') }}*\n\n📊 Facturas del mes: {{ $json.resumen.facturas_mes }}\n💰 Ingresos: ${{ $json.resumen.ingresos_mes?.toFixed(2) }} MXN\n💸 Gastos: ${{ $json.resumen.gastos_mes?.toFixed(2) }} MXN\n📋 Por cobrar: ${{ $json.resumen.por_cobrar?.toFixed(2) }} MXN\n\n{{ $json.alertas.length > 0 ? '⚠️ Alertas:\\n' + $json.alertas.join('\\n') : '✅ Sin alertas' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-manana",
      "name": "Telegram Alerta Mañana",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Cron 6am Hermosillo": {
      "main": [
        [
          {
            "node": "GET Dashboard API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Dashboard API": {
      "main": [
        [
          {
            "node": "Telegram Alerta Mañana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "aecc7bdc-72d8-4ac5-af35-b0081ea088a3",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-17T19:12:35.710Z",
      "createdAt": "2026-03-17T19:12:35.710Z",
      "role": "workflow:owner",
      "workflowId": "abe3e78b-018b-4c10-958f-9524686e2bac",
      "projectId": "w1foCeVywdyMBjNr",
      "project": {
        "updatedAt": "2026-03-17T18:04:43.174Z",
        "createdAt": "2026-03-17T18:04:43.174Z",
        "id": "w1foCeVywdyMBjNr",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "81e2334b-2624-4661-af6a-6a0b4a98eb75"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}