infra/n8n/mapeo_legal.json
{
  "name": "Mapeo Legal — Fracción Arancelaria",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mapeo-legal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-mapeo",
      "name": "Webhook POST /mapeo-legal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "mapeo-legal-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/brain/ask",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=Dada la fracción arancelaria {{ $json.body.fraccion }} para el producto {{ $json.body.descripcion }}, indica: 1) IGI aplicable, 2) NOM/normas requeridas, 3) permisos previos COFEPRIS/SEMARNAT si aplica, 4) documentos aduaneros necesarios."
            },
            {
              "name": "context",
              "value": "aranceles-mexico"
            }
          ]
        },
        "options": {}
      },
      "id": "brain-mapeo",
      "name": "Mystic Brain — Consulta Legal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-mapeo",
      "name": "Responder JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook POST /mapeo-legal": {
      "main": [[{"node": "Mystic Brain — Consulta Legal", "type": "main", "index": 0}]]
    },
    "Mystic Brain — Consulta Legal": {
      "main": [[{"node": "Responder JSON", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["legal", "aduanas", "fourgea"]
}
