infra/n8n/Onboarding_Bienvenida_WA.json
{
  "id": "d4f5b6c7-8901-23de-f012-444555666777",
  "name": "Onboarding Bienvenida WA",
  "nodes": [
    {
      "parameters": {
        "path": "onboarding-complete",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Onboarding",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "onboarding-complete-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook Onboarding').first().json.body;\nconst modulos = (body.modulos_activados || []);\nconst moduloLabels = {\n  facturas: '🧾 Facturación CFDI',\n  nomina: '👥 Nómina e IMSS',\n  cierre_mensual: '📊 Cierre Mensual',\n  whatsapp: '📱 Asistente WhatsApp',\n  diot: '📋 DIOT Automática'\n};\nlet msg = `🎉 *¡Bienvenido a MYSTIC, ${body.empresa || 'tu empresa'}!*\\n\\n`;\nmsg += `✅ RFC registrado: *${body.rfc || 'N/A'}*\\n\\n`;\nmsg += `🚀 Módulos activados:\\n`;\nmodulos.forEach(m => {\n  msg += `  ${moduloLabels[m] || m}\\n`;\n});\nmsg += `\\n📱 Puedes preguntarme por WhatsApp cualquier duda fiscal.`;\nmsg += `\\n🌐 Panel: sonoradigitalcorp.com/panel`;\nconst numero = body.numero_wa || '526622681111';\nreturn [{ json: { mensaje: msg, numero } }];"
      },
      "name": "Formatear Bienvenida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/wa/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "numero", "value": "={{ $json.numero }}" },
            { "name": "mensaje", "value": "={{ $json.mensaje }}" }
          ]
        },
        "options": {}
      },
      "name": "Enviar Bienvenida WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Onboarding": { "main": [[{ "node": "Formatear Bienvenida", "type": "main", "index": 0 }]] },
    "Formatear Bienvenida": { "main": [[{ "node": "Enviar Bienvenida WA", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
