config/n8n/backup-workflow.json
{
  "name": "JARVIS — Daily Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": 1440
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5174/api/webhook/n8n-backup",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Call JARVIS Backup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "operation": "equal",
              "value2": "ok"
            }
          ]
        }
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "text": "✅ JARVIS Backup completed successfully",
        "additionalFields": {
          "username": "JARVIS Backup Bot"
        }
      },
      "id": "notify-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "text": "❌ JARVIS Backup FAILED: {{$json.error || 'Unknown error'}}",
        "additionalFields": {
          "username": "JARVIS Backup Bot"
        }
      },
      "id": "notify-fail",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [[{ "node": "Call JARVIS Backup", "type": "main", "index": 0 }]]
    },
    "Call JARVIS Backup": {
      "main": [[{ "node": "Check Status", "type": "main", "index": 0 }]]
    },
    "Check Status": {
      "main": [
        [{ "node": "Notify Success", "type": "main", "index": 0 }],
        [{ "node": "Notify Failure", "type": "main", "index": 0 }]
      ]
    }
  }
}
