config/n8n/healthcheck-workflow.json
{
  "name": "JARVIS — Health Check & Auto-Restore",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": 15
        }
      },
      "id": "trigger-schedule",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5174/api/webhook/n8n-healthcheck",
        "options": {}
      },
      "id": "healthcheck-req",
      "name": "Check JARVIS Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "operation": "equal",
              "value2": "healthy"
            }
          ]
        }
      },
      "id": "check-health",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5174/api/webhook/n8n-restore",
        "options": {}
      },
      "id": "restore-req",
      "name": "Auto-Restore Services",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 400]
    },
    {
      "parameters": {
        "text": "⚠️ JARVIS health check failed — auto-restore triggered",
        "additionalFields": {
          "username": "JARVIS Health Bot"
        }
      },
      "id": "notify-restore",
      "name": "Notify Restore",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "text": "✅ JARVIS services healthy — all OK",
        "additionalFields": {
          "username": "JARVIS Health Bot"
        }
      },
      "id": "notify-ok",
      "name": "Notify OK",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 200]
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [[{ "node": "Check JARVIS Health", "type": "main", "index": 0 }]]
    },
    "Check JARVIS Health": {
      "main": [[{ "node": "Is Healthy?", "type": "main", "index": 0 }]]
    },
    "Is Healthy?": {
      "main": [
        [{ "node": "Notify OK", "type": "main", "index": 0 }],
        [{ "node": "Auto-Restore Services", "type": "main", "index": 0 }]
      ]
    },
    "Auto-Restore Services": {
      "main": [[{ "node": "Notify Restore", "type": "main", "index": 0 }]]
    }
  }
}
