config/n8n-sdc/hermes-health-check-hourly.json
{
  "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
  "name": "HERMES — Health Check Cada Hora",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "node-cron-health",
      "name": "Cron Cada Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://hermes_api:8000/status",
        "options": {
          "timeout": 8000
        },
        "continueOnFail": true
      },
      "id": "node-check-api",
      "name": "GET API Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "url": "http://hermes_telegram_bot:3003/health",
        "options": {
          "timeout": 8000
        },
        "continueOnFail": true
      },
      "id": "node-check-bot",
      "name": "GET Bot Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-api-down",
              "leftValue": "={{ $('GET API Status').item.json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-api-error",
              "leftValue": "={{ $('GET API Status').item.error ? 'error' : 'ok' }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-bot-down",
              "leftValue": "={{ $('GET Bot Health').item.json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-bot-error",
              "leftValue": "={{ $('GET Bot Health').item.error ? 'error' : 'ok' }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "any"
        }
      },
      "id": "node-if-down",
      "name": "IF — Algún Servicio Caído",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Detectar cuál servicio falló y construir alerta\nconst ahora = new Date();\nconst hora = ahora.toLocaleTimeString('es-MX', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Hermosillo' });\n\nlet serviciosCaidos = [];\n\ntry {\n  const apiStatus = $('GET API Status').item.json.status;\n  if (!apiStatus || apiStatus !== 'ok') {\n    serviciosCaidos.push('hermes_api:8000');\n  }\n} catch(e) {\n  serviciosCaidos.push('hermes_api:8000 (sin respuesta)');\n}\n\ntry {\n  const botStatus = $('GET Bot Health').item.json.status;\n  if (!botStatus || botStatus !== 'ok') {\n    serviciosCaidos.push('telegram_bot:3003');\n  }\n} catch(e) {\n  serviciosCaidos.push('telegram_bot:3003 (sin respuesta)');\n}\n\nconst serviciosTexto = serviciosCaidos.length > 0\n  ? serviciosCaidos.join(', ')\n  : 'servicio desconocido';\n\nconst mensaje = `⚠️ *HERMES Alert*\n\n🔴 *Servicio caído:* ${serviciosTexto}\n⏰ *Hora detectada:* ${hora} (Hermosillo)\n\n👉 Revisa los contenedores con:\n\\`docker compose ps\\``;\n\nreturn [{ json: { mensaje, serviciosCaidos, hora } }];"
      },
      "id": "node-build-alert",
      "name": "Build Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 180]
    },
    {
      "parameters": {
        "chatId": "={{ $env.HERMES_ADMIN_CHAT_ID }}",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "node-telegram-alert",
      "name": "Telegram — Enviar Alerta",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1180, 180],
      "credentials": {
        "telegramApi": {
          "id": "hermes-telegram-cred",
          "name": "HERMES Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "node-noop-ok",
      "name": "No-Op — Todo OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [940, 420]
    }
  ],
  "connections": {
    "Cron Cada Hora": {
      "main": [
        [
          {
            "node": "GET API Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Bot Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET API Status": {
      "main": [
        [
          {
            "node": "IF — Algún Servicio Caído",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Bot Health": {
      "main": [
        [
          {
            "node": "IF — Algún Servicio Caído",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Algún Servicio Caído": {
      "main": [
        [
          {
            "node": "Build Alert Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No-Op — Todo OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Message": {
      "main": [
        [
          {
            "node": "Telegram — Enviar Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "America/Hermosillo",
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["hermes", "health-check", "monitoreo", "telegram"],
  "triggerCount": 1,
  "updatedAt": "2026-03-27T00:00:00.000Z",
  "versionId": "v1.0.0",
  "active": true
}
